Patient/__pycache__/
Patient/migrations/__pycache__/
otpAuth/migrations/__pycache__/
otpAuth/__pycache__/
Hospital/migrations/__pycache__/
Hospital/__pycache__/
Doctor/migrations/__pycache__/
Doctor/__pycache__/
DiagnosticDepartment/migrations/
DiagnosticDepartment/__pycache__/
ARCIT/migrations/__pycache__/
ARCIT/__pycache__/