{% extends 'sidebar.html' %}

{% block content %}

  <div style="height:calc(100vh - 105px);width: calc(100vw - 332px);overflow:auto">
      <div class="col-4 pl-0 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Upcoming appointments</h5>
            <h1 class="text-center">{{appointment_count}}</h1>
          </div>
        </div>
      </div>
    <div class="row m-0 mb-3">
      <div class="col-6 pl-0">
        <div class="card">
          <div class="card-body">
            <canvas id="top-visited-specialities-chart" data-url="{% url 'patient_most_visited_specialities' %}"></canvas>
          </div>
        </div>
      </div>
    <div class="col-6 pl-0 pr-0">
      <div class="card">
        <div class="card-body">
          <canvas id="frequent-diseases-chart" data-url="{% url 'patient_frequent_diseases' %}"></canvas>
        </div>
      </div>
    </div>
    </div>
  </div>

{% endblock %}

{% block script %} 
  <script>
    $(() => {
      const topVisitedSpecialitiesChart = $("#top-visited-specialities-chart");
      const frequentDiseasesChart = $("#frequent-diseases-chart");

      $.ajax({
        url: topVisitedSpecialitiesChart.data("url"),
        success: data => {
          var ctx = topVisitedSpecialitiesChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'pie',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Specialities',
                backgroundColor: [
                    '#f66d44', '#feae65', '#aadea7', '#64c2a6', '#2d87bb'
                ],
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Most visited specialities'
              }
            }
          });
        }
      });
      
      $.ajax({
        url: frequentDiseasesChart.data("url"),
        success: data => {
          var ctx = frequentDiseasesChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'horizontalBar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'frequency',
                backgroundColor: '#2d87bb',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              scales: {
                xAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
                }]
              },
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Most occuring diseases'
              }
            }
          });
        }
      });
    });
  </script>
{% endblock %}