{% extends 'sidebar.html' %}

{% block content %}
<div class="card pl-3 pt-3 pb-3 border-0">
  <h3>New patient</h3>
  <div style="height:calc(100vh - 190px); overflow: auto;">    
    <div class="pr-3">
      <form method="post">
        {% csrf_token %}

        {% include 'userRegisteration.html' with form=form2 %}
        {% include 'commonRegisteration.html' with form=form %}

        <button class="btn btn-primary" type="submit">Register</button>
    </div>
    </form>
  </div>
</div>
{% endblock %}
