{% extends 'Hospital/sidebar.html' %}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% comment %} 

{% block content %}
    {% load render_table from django_tables2 %}

    {% if filter %}
        <form action="" method="get" class="form form-inline p-2">
            {% bootstrap_form filter.form layout='inline' form_class='p-2' %}
            <span class="m-1 ml-2">
            {% bootstrap_button 'filter' button_class='btn btn-primary' %}
            </span>
        </form>
    {% endif %}
    {% render_table table 'django_tables2/bootstrap.html' %}
    </form>

{% endblock %} {% endcomment %}

{% block content %}
<form method="get">
    <div class="row ml-0 mr-0">
        <div class="form-group">
            {{ filter.form.first_name.label_tag }}
            {% render_field filter.form.first_name class="form-control" %}
        </div>
        <div class="form-group">
            {{ filter.form.last_name.label_tag }}
            {% render_field filter.form.last_name class="form-control" %}
        </div>
        <div class="form-group">
            {{ filter.form.specialization.label_tag }}
            {% render_field filter.form.specialization class="form-control" %}
        </div>
        <div class="d-flex align-items-end mb-3 ml-2">
            {% bootstrap_button 'filter' button_class='btn btn-primary' %}
        </div>
    </div>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Specialization</th>
        </tr>
    </thead>
    <tbody>
        {% for doctor in filter.qs %}
        <tr>
            <td scope="row">{{doctor.first_name}}</th>
            <td>{{doctor.last_name}}</td>
            <td>{{doctor.specialization}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</form>

{% endblock %} 