{% extends 'Hospital/index.html' %}

{% block content %}
    {% load render_table from django_tables2 %}
    {% load bootstrap3 %}

    {% if filter %}
        <form action="" method="get" class="form form-inline p-2">
            {% bootstrap_form filter.form layout='inline' form_class='p-2' %}
            <span class="m-1 ml-2">
            {% bootstrap_button 'filter' button_class='btn btn-primary' %}
            </span>
        </form>
    {% endif %}
    {% render_table table 'django_tables2/bootstrap.html' %}
    </form>

{% endblock %}