{% extends 'Doctor/sidebar.html' %}
{% load widget_tweaks %}
{% block content %}
<div style="height:calc(100vh - 105px)">
    
        <div class="card p-3 border-0" style="height:100%">
            <div>
                <span class="float-left"><h3>Add new diagnosis</h3></span>
                <a href="{% url 'viewpatienthistory' %}" class="float-right mt-2">
                    <span class="text-secondary" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                            <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg>
                        <span class="pt-1">View patient history</span>
                    </span>
                </a>
            </div>
            
            <hr class="mt-1 mb-2">
            
            <div style="height:calc(100vh - 190px); overflow: auto;">
                <form method="post" enctype="multipart/form-data">                    
                    {% csrf_token %}
                    {% for hidden_field in form2.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}

                    {% if form2.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                        {% for error in form2.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form2.visible_fields %}
                        <div class="form-group pl-0 pr-2">
                        {{ field.label_tag }}

                        {% if form2.is_bound %}
                            {% if field.errors %}
                            {% render_field field class="form-control" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                {{ error }}
                                </div>
                            {% endfor %}
                            {% else %}
                            {% render_field field class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}

                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        </div>
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="form-group pl-0 pr-2">
                        {{ field.label_tag }}

                        {% if form.is_bound %}
                            {% if field.errors %}
                            {% render_field field class="form-control" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                {{ error }}
                                </div>
                            {% endfor %}
                            {% else %}
                            {% render_field field class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}

                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        </div>
                    {% endfor %}
                <button class="btn btn-primary mt-2" type="submit">submit</button>
                </form>        
            </div>
        </div>    
    </div>

{% endblock %}
