{% extends 'DiagnosticDepartment/index1.html' %}

{% block content %}
  <h2>Upload Report </h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} {{ form|crispy }} {% endcomment %}
    
    {{ form.as_p }}

    <button type="submit" class= "btn btn-primary" >Upload</button> <br> <br>
   
  
    </a>
  </form>
  <h4>{{msg}}</h4>
  {% comment %} {% if url %} {% endcomment %}
  {% comment %} <button> Uploaded File: <a href="{% url 'url'  %}"> DOWNLOAD PDF </a></button> {% endcomment %}
  {% comment %} <button><a href="{{ url }}">Download</button> {% endcomment %}
  {% comment %} {% endif %} {% endcomment %}
{% endblock %}