{% extends 'otpAuthIndex.html' %}

{% block div %}
<!-- {{OTP}} -->

<form action="verifyOtp" method="post">
    {% csrf_token %}
    <input type="hidden" name="storedOTP" value="{{storedOtp}}">
    <input type="hidden" name="Phone_number" value="{{phno}}" />
    Enter OTP: <input type="number" name="OTP" value={{otp}} required />
    <button type="submit" class="btn btn-secondary">submit</button>
    <br />
    
    {% if dirty_status %}
    {% if status  %}
    Successfull
    {% else  %}
    Incorrect OTP
    {% endif %}
    {% endif %}
</form>
{% endblock %}